<!DOCTYPE html>
	<html>
		
		<head>

			<meta charset="UTF 8">

			<title>
				{{ page.title }}
			</title>

			<!-- main css -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- end main css -->

			<!-- topnav -->
			<div class="topnav">
				<a class="active" href="/">Home</a>
				<a href="/resume">Resume</a>
				<a href="/ics">ICS Courses</a>
				<a href="/data">Data Analytics</a>
				<a href="/projects">Projects</a> 

			</div> 
			<!-- end topnav -->
			
			<!-- sidenav -->
			<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a class="passive" href="/">Home</a>
				<a href="/resume">Resume</a>
				<a href="/ics">ICS Courses</a>
				<a href="/data">Data Analytics</a>
				<a href="/projects">Projects</a> 
			</div>

			<!-- click triggers openNav -->
			<span style="font-size:30px;cursor:pointer"  onclick="openNav()">&#9776;</span>

			<!-- opens and closes sidenav -->
			<script>
			function openNav() {
				document.getElementById("mySidenav").style.width="240px";
			}
			function closeNav() {
				document.getElementById("mySidenav").style.width="0";
			}
			</script>
			<!-- end sidenav --> 
		</head>

		<!-- content -->
		<div class="content">
			{{ content }}
		</div>
		<!-- end content -->

		</body>
		
	</html>
