<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS Start -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- CSS End -->
    
    <title>Brad Kai's Page</title>
    <meta name="description" content="Brad Kai's Page">
    <meta name="author" content="Brad Kai">
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/ics">ICS Projects</a></li>
        <li><a href="/projects">Coding Projects</a></li>
      </ul>
    </nav>
  </head>
  
  <body>
    
  {{content}}
  
  </body>
  
  <footer>
    <ul>
      <li><a href="mailto:"bradbkai@gmail.com">Email: BradBKai@gmail.com</a></li>
        <li><a href="https://github.com/BradBKai">Github</a></li>
        <li><a href="https://linkedin.com/in/BradBKai">Linkedin</a></li>
    </ul>
  </footer>
</html>
