<!DOCTYPE html>
  <html>
   <head>
 
    <!-- title -->
    <title> {{ page.title }} </title>
     
    <!-- CSS Start -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- CSS End -->
     
    </head>
  
    <body>
    
      <!-- start nav -->
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/ics">ICS Projects</a></li>
          <li><a href="/projects">Coding Projects</a></li>
        </ul>
      </nav>
      <!-- end nav -->  
    
      <!-- start .content -->
      <div class="content">
      
        {{ content }}
    
      </div>
      <!-- /.content -->
      
      <!-- footer -->
      <footer>
        <ul>
          <li><a href="mailto:"bradbkai@gmail.com">Email: BradBKai@gmail.com</a></li>
          <li><a href="https://github.com/BradBKai">Github</a></li>
          <li><a href="https://linkedin.com/in/BradBKai">Linkedin</a></li>
        </ul>
      </footer>
      <!-- end footer -->   
  
  </body>
            
</html>
